{% extends "layout.html" %}

{% block body %}
<h5> Hi I'm Ben. </h5>
<p>I'm a sophomore at WashU in St. Louis dual majoring in Computer Science & Math. I made this tool to learn more about / gain experience in Flask, PyTorch, Javascript, Bootstrap, and other web dev / ML stuff.</p>
<p>check out my <a href="">personal website</a>, <a href="">github</a>, <a href="">linkedin</a>, or <a href="">resume</a></p>
<p>if you have any project ideas or questions or anything please reach out :), I love to talk about cs/math/anything (ben.j.mueller@wustl.edu)</p>
<p>last updated: jun 29 2022</p>
{% endblock %}